{% extends "bootstrap/base.html" %}
{% block title %}w.wiki statistics{% endblock %}
{% block content %}
    <h1 class="text-center">w.wiki statistics</h1>
    <p class="text-center">
        The <a href="https://w.wiki">w.wiki</a> URL shortener allows creating short links to
        whitelisted Wikimedia-controlled domains. There are currently {{format(total, ',')}} short links.
    </p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive center-block" src="{{url_for('chart')}}">
            <table class="table table-responsive table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Domain</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, stuff in enumerate(stats) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{stuff[0]}}</td>
                        <td>{{format(stuff[1], ',')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>

        </div>
    </div>

<p class="text-center">
    Licensed as AGPLv3+.
    View the <a href="https://gerrit.wikimedia.org/g/labs/tools/shorturls/">source code</a>, and the <a href="https://dumps.wikimedia.org/other/shorturls/">raw data</a>.
</p>
{% endblock %}
